.container {
    padding: 0 2rem;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #eaeaea;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    width: 100%;
    max-width: 30rem;
    border: 1px solid rgb(0, 136, 255);
    border-radius: 5px;
    padding: 1.5rem;
}

.form .inputField {
    display: flex;
    flex-direction: column;
}

.form .inputFieldText {
    display: flex;
    gap: 2rem;
}

.form .inputFieldText .inputField {
    flex: 1;
}

.form input {
    margin-bottom: 0.5rem;
    width: 50%;
    height: 2rem;
}

.form .inputFieldText input {
    width: 100%;
}

.form label {
    margin-bottom: 4px;
    font-weight: 700;
}

.requiredIcon {
    color: orangered;
}

.btnWrapper {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.downloadBtn {
    width: 10rem;
    height: 2rem;
    font-weight: 700;
}

.modal {
    height: 30rem;
    overflow-y: auto;
}

.modal ul {
    list-style-type: none;
    padding-right: 40px;
}

.modal ul li {
    margin-bottom: 0.5rem;
}

.modal ul li.lastLi {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eaeaea;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
}

.invalidInput {
    outline: 2px solid orangered;
    border: none;
    border-radius: 2px;
}

.invalidInput:focus {
    outline-color: unset;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}
